@model IEnumerable<VLO.Models.Mesa>
@{
    ViewBag.Title = "Index";
}

<h2>Mesas</h2>

<div class="row col-md-12">

    @foreach (var item in Model)
    {
            <div class="col-md-4">
                <div class="thumbnail">
                    <div class="caption">
                        <h3>Mesa @item.NumMesa</h3>
                        <p>
                            <a href="/Ordenes/Menu/@item.IdMesa" class='@(item.Estado==true?"btn btn-success":"btn btn-danger") ' role="button">@(item.Estado == true ? "Disponible" : "Ocupada")</a>
                        </p>
                    </div>
                </div>
            </div>
    }

</div>

